<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ghost.todaydifferent">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".NewsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".ShopActivity"></activity>
        <activity android:name=".VolunteerActivity"></activity>
        <activity android:name=".DonationActivity"></activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".VolunteerProjectActivity"></activity>
        <activity android:name=".DonationProjectActivity"></activity>
        <activity android:name=".CertificateActivity"></activity>
        <activity android:name=".VolunteerThanksActivity"></activity>
        <activity android:name=".DonationThanksActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".HistoryActivity"></activity>
        <activity android:name=".VolunteerProjectJoinActivity"></activity>
        <activity android:name=".VolunteerProjectTicketActivity"></activity>
        <activity android:name=".DonationProjectNowActivity"></activity>
        <activity android:name=".VolunteerCommentActivity"></activity>
        <activity android:name=".VolunteerProjectRefugeeActivity"></activity>
        <activity android:name=".NewsProjectActivity"></activity>
        <activity android:name=".DonationCommentActivity"></activity>
        <activity android:name=".RankingActivity"></activity>
    </application>

</manifest>
